# default platform number, represented as a string
if not platform: platform = '1'
instrument = 'AMO;

# list of processes to run
#   required fields: id, cmd
#   optional fields: host, port, flags
procmgr_config = [
 {id:'hello', cmd:'/usr/bin/top', flags:'X'}
]
